// about style area
.about-service-main-wrapper {
    text-align: center;
    padding: 34px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F5F5FF 100%);
    border-radius: 20px;
    height: 100%;

    .title {
        max-width: 60%;
        margin: auto;
        line-height: 1.5;
        font-size: 25px;
        margin-bottom: 17px;
    }

    .icon {
        margin-bottom: 20px;
    }
}